<!-- Home screen for users who have already been logged in -->

{% include "header.html" %}
<h3> home </h3>




<div class="ui horizontal list">

  <div class="item">
			<div class="ui card">
			  <div class="image">
			    <img src="/static/icons/MED.png">
			  </div>
			  <div class="content">
			    <a class="header">Meditation</a>
			    <div class="description">
			      A game that will improve reading focus through meditation exercises
			    </div>
			  </div>
			  <div class="extra content">
			  		<button class="ui violet large button"> Play </button>
			  </div>
			</div>

  </div>

  <div class="item">
			<div class="ui card">
			  <div class="image">
			    <img src="/static/icons/AVR.png">
			  </div>
			  <div class="content">
			    <a class="header">Action Video Game</a>
			    <div class="description">
			      A game that will improve reading focus through action video games
			    </div>
			  </div>
			  <div class="extra content">
			  		<button class="ui violet large button"> Play </button>
			  </div>
			</div>

  </div>
</div>


 {% include "footer.html" %}