{% include "header.html" %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

<div class="ui raised very padded text container segment">
 <h2 class="ui header">Login to your account</h2>

  <form class="ui form" action="/login/" method="post">
   {% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  </div>

{% include "footer.html" %}