{% include "header.html" %}


<!-- <form class="ui form" action="/settings/" method="post">
    {% csrf_token %}
 
	  <div class="field">
	    <label for="username">Username</label>
	    <input type="text" name="username">
	  </div>

     <div class="field">
	    <label for="password">Password</label>
	    <input type="password" name="password">
 	 </div>



  <div class="field">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Email">
  </div>



  <input class="ui button" type="submit"></input>
</form> -->


{% include "footer.html" %}